.quote {
  display: grid;
  place-items: center;
  @extend %sec-padding;
  font-size: calc(1.25rem + 1vw);
  @extend %bg;
  background-image: linear-gradient(
      to right,
      var(--color-primary-m),
      var(--color-primary-m)
    ),
    url("../img/gallery/cat-paws.jpeg");
  opacity: 1;
  background-position: 60% 70%;
  height: 45vh;
  &:nth-of-type(2) {
    background-image: url("../img/gallery/garfield-pasta.png");
    opacity: 0.9;
  }
  &-content {
    border-radius: 2rem;

    padding: 5rem 0;

    text-shadow: 2px 3px 5px var(--color-primary);

    q {
      color: #d8d8d8;
      font-weight: fw(bold);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
      background: none;
      background-clip: initial;
      -webkit-background-clip: initial;
    }
  }
}


.quote-container{
  display: grid;
  grid-auto-flow: row;
  @include mq-lg{
    grid-auto-flow: column;
  }
}