*{
	padding: 0;
	margin: 0;
	outline:0;
}

.container{
	height: 100vh;
	width: 100vw;
	text-align: center;
	color: #333;
	background: rgb(150, 220, 255);
}

.container .no h2{
	text-align: center;
	margin-top: -150px;
}

.container .yes h2{
	text-align: center;
	margin-top: -150px;
}

.love,.yes,.no{padding-top: 15%;		
		}

.love span{color:red;}
h2{font-size: 72px;margin-bottom: 20px;}
a{font-size: 24px;text-decoration: none;padding: 5px 10px;
	margin-top: 20px;border:3px solid #ddd; border-radius: 10px;}
#no{color:red; background: #eee;margin-right: 50px;}
#yes{color:green;background: #eee;}

.no img{
	height: 500px;
	padding: 10px;
	animation: catimage 4s linear infinite;
}

.yes img{
	height: 30px;
	width: 30px;
	padding: 5px;
	animation: heartimage 4s linear infinite;
}

.kiss img{
	width: 699px;
	padding: 10px;
	animation: penguinsimage 4s linear infinite;
}

@keyframes heartimage{
	0%{transform: scale(.5);}
	50%{transform: scale(1.5);}
	100%{transform: scale(.5);}
}

@keyframes catimage{
	0%{transform: scale(.75);}
	50%{transform: scale(1.25);}
	100%{transform: scale(.75);}
}

@keyframes penguinsimage{
	0%{transform: scale(.75);}
	50%{transform: scale(1);}
	100%{transform: scale(.75);}
}